.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.question_container{
    width: 800px;
    height: 450px;
    margin-top: 10px;
    padding: 50px;
    padding-top: 30px;
    background-color: white;
    border-radius: 20px;
}

.question_number{
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.score{
    display: flex;
    align-items: center;
    gap: 3px;
}

.score_img{
    width: 30px;
    height: 30px;
}

.score_content{
    color: white;
    font-size: 20px;
    font-weight: 600;
}