.question_container {
  width: 800px;
  height: 450px;
  margin-top: 70px;
  padding: 50px;
  padding-top: 30px;
  background-color: white;
  border-radius: 20px;
}

.no_failed{
  font-size: 18px;
  font-weight: 600;
}
