.answer{
    border: 2px solid #6b4dcf;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    // color: #666667;
    color: #6b4dcf;
    font-weight: 600;
    cursor: pointer;

}

.correct_answer{
    background: linear-gradient(#f0d700,#a7af26);
    // background-color: #bcbf07;
    border: 2px solid #bcbf07;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    // color: #666667;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.incorrect_answer{
    // background: linear-gradient(#f0d700,#a7af26);
    background-color: #f54b4b;
    border: 2px solid #f54b4b;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    // color: #666667;
    color: white;
    font-weight: 600;
    cursor: pointer;
}